<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>KAPYng </title>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="font-awesome/css/font-awesome.css" rel="stylesheet">
        <link href="css/plugins/iCheck/custom.css" rel="stylesheet">
        <link href="css/animate.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
        <link href="css/plugins/jasny/jasny-bootstrap.min.css" rel="stylesheet">
        <link href="css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
        <link href="css/plugins/select2/select2.min.css" rel="stylesheet">
        <link href="css/plugins/chosen/bootstrap-chosen.css" rel="stylesheet">
    </head>
    <body>
        <div id="wrapper">
            <nav class="navbar-default navbar-static-side" role="navigation">
                <div class="sidebar-collapse">
                    <ul class="nav metismenu" id="side-menu">
                        <li class="nav-header cust_element">
                            <div class="profile-element text-center">
                                <span>
                                    <img alt="image" class="logo_img" src="img/profile_small.png" />
                                </span>
                                <p class="">
                                    <span class="clear"> 
                                        <span class="block text-center"> 
                                            <strong class="font-bold logo_font">KAPY<b style="color:red;">NG</b></strong>
                                        </span> 
                                    </span> 
                                </p>
                                        
                                    </div>
                                </li>
                                
                                <li>
                                    <a href="/land-register">Farmer Details</a>
                                </li>
                                <li>
                                    <a href="/nurcery-list">Nursery List</a>
                                </li>
                                <li>
                                    <a href="/forest-list">Seedling List</a>
                                </li>
                                <li>
                                    <a href="/chart">Reports/KPI</a>
                                </li>
                                <!-- <li>
                                    <a href="/view-votes">View Land Details</a>
                                </li> -->
                                <!-- <li class="active">
                                    <a href="#"><i class="fa fa-edit"></i> <span class="nav-label">Menu</span><span class="fa arrow"></span></a>
                                    <ul class="nav nav-second-level">
                                        <li><a href="/land-register">View Land List</a></li>
                                        <li><a href="/nurcery-list">View Nurcery List</a></li>
                                        <li><a href="/forest-list">Forest Sapling List</a></li>
                                        <li  class="active"><a href="/view-votes">View Land Details</a></li>
                                    </ul>
                                </li> -->
                    </ul>
                </div>
            </nav>
                <div id="page-wrapper" class="gray-bg">
                    <div class="row border-bottom">
                        <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                            <ul class="nav navbar-top-links navbar-right">
                                <li class="dropdown">
                                    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                                        <i class="fa fa-bell"></i>  <span class="label label-primary">8</span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-alerts">
                                        <li>
                                            <a href="mailbox.html">
                                                <div>
                                                    <i class="fa fa-envelope fa-fw"></i> You have 16 messages
                                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="divider"></li>
                                        <li>
                                            <a href="profile.html">
                                                <div>
                                                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                                    <span class="pull-right text-muted small">12 minutes ago</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="divider"></li>
                                        <li>
                                            <a href="grid_options.html">
                                                <div>
                                                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="divider"></li>
                                        <li>
                                            <div class="text-center link-block">
                                                <a href="notifications.html">
                                                    <strong>See All Alerts</strong>
                                                    <i class="fa fa-angle-right"></i>
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="login.html">
                                        <i class="fa fa-sign-out"></i> Log out
                                    </a>
                                </li>
                                
                            </ul>

                        </nav>
                        </div>
                    <div class="row wrapper border-bottom white-bg page-heading">
                        <div class="col-lg-10">
                            <h2>Nursery Details</h2>
                            <ol class="breadcrumb">
                                <li>
                                    <a href="index.html">Home</a>
                                </li>
                                <li class="active">
                                    <strong>Nursery Detailss</strong>
                                </li>
                            </ol>
                        </div>
                        <div class="col-lg-2">
                        </div>
                    </div>
                    <div class="wrapper wrapper-content animated fadeInRight">
                        <div class="row">
                            <div class="col-md-12">
                            <div class="ibox-title">
                                <strong>Nursery Details</strong>
                            </div>
                            <div class="ibox-content">
                           <div class="col-md-12 pad">
                            <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Farmer's Aadhar</th>
                                <th>Survey No.</th>
                                <th>LSH %</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>367890004</td>
                                    <td>100A/4</td>
                                    <td>80%</td>
                                    <td> 
                                        <div class="dropdown">
                                          <button class="btn btn-info" id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Action
                                            <span class="caret"></span>
                                          </button>
                                          <ul class="dropdown-menu" aria-labelledby="dLabel">
                                            <li><a href="#">View</a></li>
                                            <li><a href="#">Edit</a></li>
                                            <li><a href="#">Delete</a></li>
                                          </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>367890004</td>
                                    <td>100A/6</td>
                                    <td>85%</td>
                                    <td> 
                                        <div class="dropdown">
                                          <button class="btn btn-info" id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Action
                                            <span class="caret"></span>
                                          </button>
                                          <ul class="dropdown-menu" aria-labelledby="dLabel">
                                            <li><a href="#">View</a></li>
                                            <li><a href="#">Edit</a></li>
                                            <li><a href="#">Delete</a></li>
                                          </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>367890004</td>
                                    <td>100A/8</td>
                                    <td>80%</td>
                                    <td>
                                        <div class="dropdown">
                                          <button class="btn btn-info" id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Action
                                            <span class="caret"></span>
                                          </button>
                                          <ul class="dropdown-menu" aria-labelledby="dLabel">
                                            <li><a href="#">View</a></li>
                                            <li><a href="#">Edit</a></li>
                                            <li><a href="#">Delete</a></li>
                                          </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>367890004</td>
                                    <td>100A/4</td>
                                    <td>90%</td>
                                    <td>
                                        <div class="dropdown">
                                          <button class="btn btn-info" id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Action
                                            <span class="caret"></span>
                                          </button>
                                          <ul class="dropdown-menu" aria-labelledby="dLabel">
                                            <li><a href="#">View</a></li>
                                            <li><a href="#">Edit</a></li>
                                            <li><a href="#">Delete</a></li>
                                          </ul>
                                        </div>

                                    </td>
                                </tr>
                                <tr>
                                   
                                </tr>
                            </tbody>
                            </table>
                            </div>
                            <div class="clearfix"></div>
                        </div>  
                                    
                            </div>
                        </div>
                    </div>
                        
                    </div>
                    </div>
                    <!-- <div class="footer">
                            <strong>Copyright</strong>&copy; 2017
                    </div> -->
                    
                </div>
            </div>
            <!-- Mainly scripts -->
            <script src="js/jquery-3.1.1.min.js"></script>
            <script src="js/bootstrap.min.js"></script>
            <script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>
            <script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
            <!-- Custom and plugin javascript -->
            <script src="js/inspinia.js"></script>
            <script src="js/plugins/pace/pace.min.js"></script>
            <script src="js/plugins/jasny/jasny-bootstrap.min.js"></script>
            <!-- iCheck -->
            <script src="js/plugins/iCheck/icheck.min.js"></script>
            <script src="js/plugins/select2/select2.full.min.js"></script>
            <script src="js/plugins/chosen/chosen.jquery.js"></script>
            <script>
            $(document).ready(function () {
            $('.chosen-select').chosen({width: "100%"});
            $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
            });
            });
            </script>
        </body>
    </html>